.container{
  height: 657px;
  width: 468px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-color: black;
  border-style: solid;
}

.right{
  background-color: red;
  height: 657px;
  width: 110px;
  float: right;
}

.left{
  background-color: green;
  height: 657px;
  width: 110px;
  float: left;
}

.logo h1{
  position: relative;
  right: 0px;
  top: 30px;
  padding-left: 5px;
  padding-right: 5px;
  margin: auto;
  width: 40px;
  background-color: white;
  z-index: 1;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.logo h2{
  position: relative;
  top: 20px;
  border-style: solid;
  font-weight: bold;
  margin: auto;
  width: 170px;
  padding: 5px;
  font-size: 35px;
}

.logo h3{
  position: relative;
  margin: auto;
  color: white;
  background-color: black;
  width: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12.9px;
  padding: 3px;
  top: 17px;
}